.sidebar {
  margin-top: 20px;
  padding: 25x 10px;
  flex: 0.4;
}

.sidebar > p {
  margin-left: 10px;
  padding: 10px;
  border-radius: 15px;
}
@media only screen and (min-width: 1200px) {
  .sidebar {
    max-width: 300px;
  }
}
